body{
    color: rgb(41, 29, 151);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}
.container{
    
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 10px;
}
.cabecera{
    background-color: blue;
    box-shadow: 0px 2px 20px 0px rgba(red, green, rgb(93, 93, 141), alpha);
    color: aliceblue;
    font-weight: bold;
    padding: 0.5em; ;
    padding-top: 6px;
}

.img{
    height: 60px;
    width: 90px;
    display: inherit;
    margin: 0 auto;
   
    
}
.tag-line{
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 20px;

}